@import "./partials/reset";
@import "./partials/clearfix";

.App{
  font-family: Arial;
}

.App-intro{
  width: 100%;
  height: 2%;
  border: 1px solid blue;
  text-align: center;
  padding: 1rem;
}

.App-header{
  font-size: 3vw;
  font-weight: bold;
  align-content: center;
  text-align: center;
}

.Kanban-Box{
  height: 700px;
  width: 95%;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.Priority-Box{
  width: 31%;
  height: 90%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.ToDoBox{
  width: 31%;
  height: 90%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.InProgressBox{
  width: 31%;
  height: 90%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.DoneBox{
  width: 31%;
  height: 90%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.Card-Box{
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.Header{
  font-family: 'Open Sans', italic;
  font-weight: bold;
  font-style: italic;
  font-size: 5vw;
  height: 7vw;
  padding-left: 5%;
  padding-top: 1%;
  border-radius: 12px;
  background-color: rgb(245, 245, 245);
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.boxTitle{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vw;
  text-align: center;
  padding-top: 1.5vw;
  padding-bottom: 1vw;
  height: 2.5vw;
  width: 95%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(66, 139, 202);
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}