/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.App {
  font-family: Arial; }

.App-intro {
  width: 100%;
  height: 2%;
  border: 1px solid blue;
  text-align: center;
  padding: 1rem; }

.App-header {
  font-size: 3vw;
  font-weight: bold;
  align-content: center;
  text-align: center; }

.Kanban-Box {
  height: 700px;
  width: 95%;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap; }

.Priority-Box {
  width: 31%;
  height: 90%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto; }

.ToDoBox {
  width: 31%;
  height: 90%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto; }

.InProgressBox {
  width: 31%;
  height: 90%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto; }

.DoneBox {
  width: 31%;
  height: 90%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto; }

.Card-Box {
  border: 1px solid red; }
